@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@-webkit-keyframes bgcolor {
  0% {
    background-color: #a8f6ff;
  }
  30% {
    background-color: #99f5ff;
  }
  60% {
    background-color: #95f4ff;
  }
  90% {
    background-color: #99f5ff;
  }
  100% {
    background-color: #a8f6ff;
  }
}

@keyframes bgcolor {
  0% {
    background-color: #a8f6ff;
  }
  30% {
    background-color: #99f5ff;
  }
  60% {
    background-color: #95f4ff;
  }
  90% {
    background-color: #99f5ff;
  }
  100% {
    background-color: #a8f6ff;
  }
}
h1 {
  font-family: "Dancing Script", cursive;
}

h2 {
  font-size: large;
  font-family: "Roboto Condensed", sans-serif;
}

h3 {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

li {
  font-family: "Roboto Condensed", sans-serif;
}

td {
  font-family: "Roboto Condensed", sans-serif;
}

.account-bg {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 0.25rem;
  overflow: hidden;
}
.account-bg .account-bgi.bgi-signup {
  background-image: url("/php1/resources/background/old-french-quarter-hanoi.jpeg");
}
.account-bg .account-bgi.bgi-signin {
  background-image: url("/php1/resources/background/tra-da-via-he-hanoi.jpg");
  background-position-x: right;
}
.account-bg .account-bgi .overlay {
  opacity: 0.75;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.account-bg .account-bgi .overlay.overlay-signup {
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}
.account-bg .account-bgi .overlay.overlay-signin {
  background-image: linear-gradient(to right top, #9d9fa3, #9997a2, #9c8e9c, #a1848f, #a37c7d);
}

.hero-item.slogan {
  color: #FFFFFF;
}

.card.account-card {
  border-color: #FFFFFF;
}
.card.dashboard-account {
  width: 80%;
}
.card.listing-card {
  margin: 0 auto;
  width: 23rem;
  text-decoration: none;
  color: #26272B;
  border-radius: 1rem;
  transition: all 0.25s ease-in-out;
  margin-bottom: 2rem;
}
.card.listing-card.blog-card {
  border-radius: 0.5rem;
}
.card.listing-card .carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 250px;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
}
.card.listing-card .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
}
.card.listing-card .card-body .card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 0.5rem;
}
.card.listing-card .card-body .card-description p {
  margin-bottom: 0;
}
.card.listing-card .card-body .card-listing-location {
  color: #26272B;
  align-items: center;
}
.card.listing-card .card-body .card-listing-location i {
  margin-right: 0.5rem;
}
.card.listing-card .card-body .listing-amenities {
  justify-content: space-around;
}
.card.listing-card .card-body .listing-amenities .listing-feature {
  text-align: center;
}
.card.listing-card .card-body .listing-amenities .listing-feature i {
  font-size: 1.5rem;
  display: block;
}
.card.listing-card .card-body .card-price-rating {
  justify-content: space-between;
}
.card.listing-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-content {
  padding: 5rem 1.5rem;
}

.fa-star {
  color: #FFA500;
}

.light-gray {
  color: #A9A9A9;
}

form .input-group {
  align-items: center;
}
form .input-group i {
  margin-right: 15px;
}

nav .container .navbar-brand .web-logo {
  width: 150px;
}
nav .navbar-collapse ul.nav-icons li a.create-listing {
  border-radius: 10px;
  border: solid 1px #F0F1F3;
  transition: all 0.2s ease-in-out;
}
nav .navbar-collapse ul.nav-icons li a.create-listing:hover {
  background-color: #F0F1F3;
  color: #000000;
}
nav .navbar-collapse ul.nav-icons li a.create-listing:hover .fa-plus {
  transition: all 0.2s ease-in-out;
  transform: rotate(90deg);
}

.main-wrapper p {
  font-size: medium;
}
.main-wrapper .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-wrapper .img-fluid.error-logo {
  width: 50%;
  height: 100%;
}

.container-fluid.about-box {
  padding-left: 0;
  padding-right: 0;
}
.container-fluid.about-box #story-about {
  margin-top: 400px;
  height: 650px;
}
.container-fluid.about-box #banner-box-1 {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.container-fluid.about-box #banner-box-1 h2 {
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-family: "Dancing Script", cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.container-fluid.about-box #banner-box-1 p {
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}
@media only screen and (max-width: 768px) {
  .container-fluid.about-box #banner-box-1 #story-about {
    margin-top: 400px;
    height: 550px;
  }
  .container-fluid.about-box #banner-box-1 #story-about p {
    font-size: 20px;
  }
  .container-fluid.about-box #banner-box-1 #story-about h2 {
    font-size: 50px;
  }
}

.filter-img {
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
.filter-img h2 {
  font-size: 50px;
}
.filter-img a {
  text-decoration: none;
}
.filter-img img {
  width: 100%;
}
.filter-img img:hover {
  scale: 1.05;
}
.filter-img .under-img-box {
  padding-top: 15px;
}
.filter-img .top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

#banner-box-2 {
  background-image: url("..\\php1\\resources\\background\\hanoibackground.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#banner-box-2 #why-box {
  background-color: rgb(231, 231, 231);
  opacity: 10%;
  margin-top: 150px;
  margin-bottom: 20px;
  opacity: 90%;
  padding: 10px;
  text-align: center;
}

#banner-box-3 {
  background-image: url("..\\php1\\resources\\background\\hcmc-background.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#banner-box-3 #hero-box {
  background-color: rgb(231, 231, 231);
  opacity: 10%;
  margin-top: 150px;
  margin-bottom: 20px;
  opacity: 90%;
  padding: 10px;
  text-align: center;
}
#banner-box-3 #hero-box h2 {
  font-size: 40px;
}

.mission {
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: rgb(231, 231, 231);
  padding: 80px, 30px;
  height: 300px;
}
.mission i {
  font-size: 45px;
  margin: auto;
  margin-top: 15px;
}
.mission p {
  font: 100;
  padding: 12px;
}
.mission hr {
  height: 2px;
  background-color: black;
}
.mission:hover {
  background-color: #26272b;
}
.mission:hover p {
  color: white;
}
.mission:hover hr {
  color: white;
}
.mission:hover h3 {
  color: white;
}
.mission:hover i {
  color: white;
}

.table-about {
  margin: 100px;
}

.banner-dashboard .fa-solid {
  color: orangered;
}
.banner-dashboard .social-icons .icons {
  size: 2px;
  color: #26272b;
}
.banner-dashboard p {
  color: rgb(155, 155, 155);
}
.banner-dashboard .card-img-top {
  max-width: 200px;
  max-height: 200px;
  margin-top: 5px;
  align-items: center;
  border-radius: 50%;
}
.banner-dashboard .quick-info ul {
  text-align: left;
  list-style-type: none;
}
.banner-dashboard .box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-top {
  padding-bottom: 100px;
  text-align: center;
}
.hero-top h1 {
  font-family: "Roboto", sans-serif;
  color: #41dfff;
  text-shadow: -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000, 0.8px 0.8px 0 #000;
  font-size: 60px;
}
.hero-top p {
  font-size: 25px;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
  color: white;
}
.hero-top .container-fluid {
  background-image: url("..\\php1\\resources\\background\\tranphu-street.jpg");
  background-color: #33353d;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 0;
}
.hero-top .container-fluid #first-box {
  margin-top: 200px;
}

.blog-container {
  margin-left: 50px;
  margin-right: 50px;
}

.initial-post {
  padding-bottom: 100px;
  text-align: center;
}
.initial-post h1 {
  font-family: "Roboto", sans-serif;
  color: red;
  font-size: 60px;
}
.initial-post p {
  font-size: 25px;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
  color: white;
}
.initial-post .container-fluid {
  background-image: url("..\\php1\\resources\\article_image\\hanoicity.jpg");
  background-color: #33353d;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 0;
}
.initial-post .container-fluid #first-box {
  margin-top: 200px;
}

.news-art .card {
  margin-top: 50px;
}
.news-art a {
  text-decoration: none;
}
.news-art img {
  height: 200px;
}
.news-art h3 {
  font-size: 30px;
}
.news-art h3:hover {
  color: aquamarine;
}

.sidebar.article {
  padding-top: 100px;
}
.sidebar.article img {
  width: 300px;
  padding-bottom: 20px;
}

footer {
  min-height: 50px;
}

.footer-wrapper {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.footer-wrapper p {
  color: white;
}
.footer-wrapper .about-section {
  padding-right: calc(var(--bs-gutter-x) * 1.3);
}
.footer-wrapper hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.footer-wrapper hr.small {
  margin: 20px 0;
}
.footer-wrapper h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.footer-wrapper a {
  color: #ffffff;
  text-decoration: none;
}
.footer-wrapper a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-wrapper .footer-logo {
  width: 120px;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #ffffff;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}

footer .social-icons {
  text-align: right;
}
footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}
.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook {
  background-color: #3b5998;
}
.social-icons a.github {
  background-color: #000000;
}

@media only screen and (max-width: 768px) {
  .initial-post h1 {
    font-family: "Roboto", sans-serif;
    color: red;
    font-size: 30px;
  }
  .initial-post p {
    font-size: 15px;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    color: white;
  }
  .news-art img {
    height: auto;
    width: 100%;
  }
  .news-art p {
    font-size: 30px;
  }
  .news-art h3 {
    font-size: 35px;
  }
  .filter-img h2 {
    font-size: large;
  }
  .filter-img .top-img-box {
    margin-top: 15px;
  }
  footer {
    padding-bottom: 0;
  }
  footer .copyright-text, footer .social-icons {
    text-align: center;
  }
  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
  }
  .social-icons li.title {
    display: block;
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
    margin-right: 0;
    font-weight: 600;
  }
  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    transition: all 0.2s linear;
  }
  .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
  }
  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
  }
  .social-icons a.facebook {
    background-color: #3b5998;
  }
  .social-icons a.github {
    background-color: #000000;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  nav .navbar-collapse ul.nav-icons li a.create-listing {
    border: none;
  }
  .initial-post h1 {
    font-family: "Roboto", sans-serif;
    color: rgb(255, 85, 85);
    font-size: 50px;
  }
  .initial-post p {
    font-size: 22.5px;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    color: white;
  }
}/*# sourceMappingURL=styles.css.map */