* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@-webkit-keyframes bgcolor {
  0% {
    background-color: #a8f6ff;
  }
  30% {
    background-color: #99f5ff;
  }
  60% {
    background-color: #95f4ff;
  }
  90% {
    background-color: #99f5ff;
  }
  100% {
    background-color: #a8f6ff;
  }
}

@keyframes bgcolor {
  0% {
    background-color: #a8f6ff;
  }
  30% {
    background-color: #99f5ff;
  }
  60% {
    background-color: #95f4ff;
  }
  90% {
    background-color: #99f5ff;
  }
  100% {
    background-color: #a8f6ff;
  }
}
h1 {
  font-family: "Dancing Script", cursive;
}

h2 {
  font-size: large;
  font-style: italic;
  font-family: "Roboto Condensed", sans-serif;
}

h3 {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

li {
  font-family: "Roboto Condensed", sans-serif;
}

td {
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1000px;
}

header {
  min-height: 50px;
}

nav .container .navbar-brand .web-logo {
  width: 150px;
}
nav .navbar-collapse ul.nav-icons li a.nav-link.active {
  border-radius: 50px;
  background-color: #F0F1F3;
  color: black;
}
nav .navbar-collapse ul.nav-icons li a.create-listing {
  border-radius: 10px;
  border: solid 1px #F0F1F3;
  transition: all 0.2s ease-in-out;
}
nav .navbar-collapse ul.nav-icons li a.create-listing:hover {
  background-color: #F0F1F3;
  color: #000000;
}
nav .navbar-collapse ul.nav-icons li a.create-listing:hover .fa-plus {
  transition: all 0.2s ease-in-out;
  transform: rotate(90deg);
}

.main-wrapper p {
  font-size: medium;
}
.main-wrapper .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-fluid #story-about {
  margin-top: 400px;
  height: 650px;
}
.container-fluid #banner-box-1 {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  height: auto;
}
.container-fluid #banner-box-1 h2 {
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-family: "Dancing Script", cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.container-fluid #banner-box-1 p {
  color: white;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}
@media only screen and (max-width: 768px) {
  .container-fluid #story-about {
    margin-top: 400px;
    height: 550px;
  }
  .container-fluid #story-about p {
    font-size: 20px;
  }
  .container-fluid #story-about h2 {
    font-size: 50px;
  }
}

#banner-box-2 {
  background-image: url("..\\php1\\resources\\background\\hanoibackground.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#banner-box-2 #why-box {
  background-color: rgb(231, 231, 231);
  opacity: 10%;
  margin-top: 150px;
  margin-bottom: 20px;
  opacity: 90%;
  padding: 10px;
  text-align: center;
}

.mission {
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: rgb(231, 231, 231);
  padding: 80px, 30px;
  height: 300px;
}
.mission i {
  font-size: 45px;
  margin: auto;
  margin-top: 15px;
}
.mission p {
  font: 100;
  padding: 12px;
}
.mission hr {
  height: 2px;
  background-color: black;
}
.mission:hover {
  background-color: #26272b;
}
.mission:hover p {
  color: white;
}
.mission:hover hr {
  color: white;
}
.mission:hover h3 {
  color: white;
}
.mission:hover i {
  color: white;
}

.table-about {
  margin: 100px;
}

footer {
  min-height: 50px;
}

.footer-wrapper {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.footer-wrapper p {
  color: white;
}
.footer-wrapper .about-section {
  padding-right: calc(var(--bs-gutter-x) * 1.3);
}
.footer-wrapper hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.footer-wrapper hr.small {
  margin: 20px 0;
}
.footer-wrapper h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.footer-wrapper a {
  color: #ffffff;
  text-decoration: none;
}
.footer-wrapper a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-wrapper .footer-logo {
  width: 120px;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #ffffff;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}

footer .social-icons {
  text-align: right;
}
footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}
.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook {
  background-color: #3b5998;
}
.social-icons a.github {
  background-color: #000000;
}

@media only screen and (max-width: 768px) {
  footer {
    padding-bottom: 0;
  }
  footer .copyright-text, footer .social-icons {
    text-align: center;
  }
  .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .social-icons li {
    display: inline-block;
    margin-bottom: 4px;
  }
  .social-icons li.title {
    display: block;
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
    margin-right: 0;
    font-weight: 600;
  }
  .social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    transition: all 0.2s linear;
  }
  .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
  }
  .social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
  }
  .social-icons a.facebook {
    background-color: #3b5998;
  }
  .social-icons a.github {
    background-color: #000000;
  }
}/*# sourceMappingURL=styles.css.map */