.form-blog-name{
    input{
        background-color: white;
    }
}

.form-blog-description{
    textarea{
        height: 500px;
        background-color:white;
    }
}

.card{
    &.blog-form{
        background-color: transparent;
        border-color: transparent;
    }
}