// Card styling specifics

.card {
    &.account-card {
        border-color: #FFFFFF;
    }
  
    &.dashboard-account {
      max-width: 500px;
    }
  
    &.listing-details {
      max-height: 75vh;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      
      .card-body {
          padding: 1.5rem;
  
          .card-listing-location {
              i, p {
                  font-size: 1.2rem;
              }
          }
  
          .card-description {
              min-height: 23vh;
          }
  
          .listing-amenities {
              font-size: 1.1rem;
          }
  
          .card-price-rating {
              font-size: 1.2rem;
          }
      }
    }
  
    &.listing-card {
      margin: 0 auto;
      width: 23rem;
      text-decoration: none;
      color: $dark-gray;
      border-radius: 1rem;
      transition: all 0.25s ease-in-out;
      margin-bottom: 2rem;
  
      &.blog-card {
          border-radius: .5rem;
      }
  
      .carousel {
          .carousel-inner {
              .carousel-item {
                  width: 100%;
                  height: 250px;
                  overflow: hidden;
                  transition: transform .4s ease-in-out;
      
                  img {
                      width: 100%;
                      height: auto;
                  }
              }
          }
      }
  
      .card-body {
          .card-description {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3; /* number of lines to show */
              line-clamp: 3; 
              -webkit-box-orient: vertical;
              margin-bottom: 0.5rem;
  
              p {
                  margin-bottom: 0;
              }
          }
          
          .card-listing-location {
              color: $dark-gray;
              align-items: center;
              
              i {
                  margin-right: 0.5rem;
              }
          }
  
          .listing-amenities {
              justify-content: space-around;
  
              .listing-feature {
                  text-align: center;
  
                  i {
                      font-size: 1.5rem;
                      display: block;
                  }
              }
          }
  
          .card-price-rating {
              justify-content: space-between;
              
              p {
                  margin-bottom: 0;
              }
          }
      }
  
      &:hover {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      }
    }
  }
  
  .card-content {
    padding: 5rem 1.5rem;
  }
  
  .fa-star {
      color: $orange-star;
  }
  
  .light-gray {
      color: $light-gray;
  }
  //Listing card styling
  
  
  form {
    input {
        // border: none;
        // border-bottom: 0.0625rem solid #253143;
    }
  
    .input-group {
        align-items: center;
  
        i {
            margin-right: 15px;
        }
    }
  }
  