
// Card styling specifics
.rating-stars {
    ul > li {
        &.star {
            display: inline-block;

            i {
                color: #CCC;
            }

            &.hover {
                i {
                    color: #FFCC36;
                }
            }

            &.selected {
                i {
                    color: $orange-star;
                }
            }
        }
    }
}

.banner-dashboard{

    .fa-solid{
      //color: orangered;
    }

    p {
      color: $dark-gray;
    }

    .card-img-top{
      max-width: 200px;
      max-height: 200px;
      margin-top: 5px;
      align-items: center;
      border-radius: 50%;
    }

    .quick-info {
          ul {
              text-align: left;
              list-style-type: none;

              li {
                  p {
                      font-size: 1rem;

                      i {
                          color: #161748;
                          margin-right: 10px;
                      }
                  }
              }
          }
      }

  }

  .card-content {
    padding: 5rem 1.5rem;
  }

  .fa-star {
      color: $orange-star;
  }

  .light-gray {
      color: $light-gray;
  }
//profile picture
  .profile-pic-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

    &.listing-details {
        width: 75px;
        height: 75px;
    }

    img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

hr {
    &.baby {
        width: 3.5rem;
    }
}
