.listing-img-carousel {
    .listing-carousel {
        .detail-carousel {
            height: 80vh;
        }
    }
}

@media only screen and (max-width: 768px) {
    .listing-img-carousel {
        .listing-carousel {
            .detail-carousel {
                height: 300px;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .listing-img-carousel {
        .listing-carousel {
            .detail-carousel {
                height: 55vh;
            }
        }
    }
}