// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//blog styling
.hero-top{
    padding-bottom: 100px;
    text-align: center;
    h1 {
     font-family: 'Roboto', sans-serif;
     color: #41dfff;
     text-shadow: -0.8px -0.8px 0 #000, 0.8px -0.8px 0 #000, -0.8px 0.8px 0 #000, 0.8px 0.8px 0 #000;
     font-size: 60px;
    }
  
    p {
     font-size: 25px;
     text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;  
     color: white;
    }
  
   .container-fluid{
     background-image: url('..\\..\\storage\\app\\public\\images\\background\\tranphu-street.jpg');
     background-color: #33353d;
     height: 1000px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     background-position: 50% 0;
     
         #first-box{
         margin-top: 200px;
         }
     } 
   } 
  
  .blog-container{
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
    
    .blog-info{
        padding-left: 30px;
    }

    button{
        background-color: white;
        border: none;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        
        &.user-name{
            font-size: 15px;
        }

        &:hover{
            color: blue;
        }
    }

    h5{
      font-family: 'Roboto', sans-serif;
      font-size: 40px;
  
    }
    
    p{
      font-size: 15px;
    }
  
    h6{
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
    }
    
    hr{
      height: 10px;
    }
  }

//landing page styling
.filter-img{
  margin-top: 100px ;
  padding-left: 100px;
  padding-right: 100px;
  
  h2{
    font-size: 50px;
  }

  a{
    text-decoration: none;
  }
  img{
    width: 100%;
    &:hover{
      scale: (1.05);
    }
  }

  .under-img-box{
    padding-top: 15px;
  }

  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

} 

#banner-box-3{
  background-image: url('..\\..\\storage\\app\\public\\images\\background\\hcmc-background.jpg');
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  #hero-box{
    background-color: rgb(231, 231, 231);opacity: 10%;
    margin-top: 150px;
    margin-bottom: 20px;
    opacity: 90%;
    padding: 10px;
    text-align: center;

    h2{
      font-size: 40px;
    }
    }
}

//seperate-blog styling

.container{
  &.blogpost{
    background-color: white;
    margin-top: 50px;

    button{
      margin: 0px;
      padding: 0px;
      background-color: transparent;
      border: none;
      color: rgb(0, 0, 0);
      text-align: center;
      text-decoration: none;
      font-style: italic;
      display: inline-block;
      font-size: 15px;
      
      &.user-name{
          font-size: 15px;
      }

      &:hover{
          color: blue;
      }
    }

    .row{
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

//about page
.container-fluid{
  &.about-box{
    padding-left: 0;
    padding-right: 0;
  #story-about{
    margin-top: 400px;
    height: 650px;
  }
  #banner-box-1{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    h2{
      color: rgb(255, 255, 255);
      font-size: 70px;
      font-family: 'Lobster', cursive;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    p{
      color: rgb(255, 255, 255);
      font-size: 30px;
      font-family: 'Roboto', sans-serif;
      text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    }
  }
}
}

#banner-box-2{
  background-image: url('..\\..\\storage\\app\\public\\images\\background\\hanoibackground.png');
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
#why-box{
  background-color: rgb(231, 231, 231);opacity: 10%;
  margin-top: 150px;
  margin-bottom: 20px;
  opacity: 90%;
  padding: 10px;
  text-align: center;
  }
}

.mission {
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: rgb(231, 231, 231);
  padding: 80px, 30px;
  height: 300px;
  
  i {
    font-size: 45px;
    margin: auto;
    margin-top: 15px;
  }

  p {
    font: 100;
    padding: 12px;
  }

  hr {
    height: 2px;
    background-color: black;
  }
  &:hover {
    background-color: #26272b;
    p {
      color: white;
    }
    hr {
      color: white;
    }
    h3 {
      color: white;
    }
    i {
      color: white;
    }
  }
}

//mobile styling
@media only screen and (max-width: 768px) {

    //mobile blog page
.blog-container{
    margin-left: 0px;
    margin-right: 0px;
    
    h5{
        font-size: 15px;
    }
  }
}

    //mobile about page
    #story-about{
      margin-top: 400px;
      height: 550px;

      p {
        font-size: 20px;
      }
      
      h2 {
        font-size: 50px;
      }
    }